@model otelUcusAppProject.Models.loginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>login</title>
</head>
<body>
    <fieldset>

        @using (Html.BeginForm("login", "Account", FormMethod.Post))
        {
            <legend>
                SIGN IN
            </legend>
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.user_name)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.user_name)
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.user_name, null, new { @class = "alert alert-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.password)
                    </td>
                    <td>
                        @Html.PasswordFor(model => model.password)
                    </td>
                </tr>

                <tr>
                    <td>
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.password, null, new { @class = "alert alert-danger" })
                    </td>
                </tr>

                <tr>
                    <td>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <input type="submit" name="name" value="login" />
                                </td>
                                <td>
                                    <input type="reset" name="name" value="reset" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/Account/Register">Create Account</a>
                                </td>
                                <td>
                                    @Html.ValidationMessage("Error", null, new { @class = "Alert alert-danger" })
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        }
    </fieldset>
</body>
</html>
